<div class="h-100  d-flex flex-column justify-content-center align-items-center">
  <div class="card border-0 w-50 m-auto ps-5 pe-5 pb-5 glassify curve">
    <div class="container">
      <div class="row justify-content-center align-items-center text-center">
        <i style="font-size: 70px;" class="bi bi-book"></i>
        <h3>EPOS Management System</h3>
        <p class="">YALMBROSOFT</p>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input
           [ngClass]="[(f.username.dirty || f.username.touched) && f.username.errors ? 'is-invalid': '',
                              (f.username.dirty || f.username.touched) && !f.username.errors ? 'is-valid': '']"
          formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small class="text-danger" *ngIf="(f.username.dirty || f.username.touched)
                                            && f.username.errors
                                            && f.username.errors.required">Required</small>
          <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            [ngClass]="[(f.password.dirty || f.password.touched) && f.password.errors ? 'is-invalid': '',
                              (f.password.dirty || f.password.touched) && !f.password.errors ? 'is-valid': '']"
          formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            <small class="text-danger" *ngIf="(f.password.dirty || f.password.touched)
                                                                              && f.password.errors
                                                                              && f.password.errors.required">Required</small>
        </div>
        <div>

          <p class="m-0 p-0 mb-3">Not yet a user? <a  class="btn m-0 p-0 text-white " [routerLink]="'/register'">Register</a></p>
        </div>


        <button [disabled]="(isLoading || !loginForm.valid)" type="button" (click)="login()" class="btn">
            <ng-container *ngIf="isLoading; else elseNotLoading">
              Please wait
            </ng-container>
            <ng-template #elseNotLoading>
              Submit
            </ng-template>
        </button>
      </form>
    </div>
</div>




