<div class="modal-header d-flex flex-row justify-content-between">
  <h5 class="modal-title text-white"><i class="bi bi-file-earmark-plus mr-2"></i> Item Entry Modal</h5>


  <div [hidden]="!isProcessing" class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="modal-body overflow-auto" style="height: 70vh;">
  <form [formGroup]="itemForm" method="post">
    <div class="container-fluid">
      <div class="row mt-3 mb-4">
        <div class="col-4">
          <label for="" class="form-label">Item Type</label>
          <div class="input-group">
            <select formControlName="itemType" class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option [ngValue]="'Component'">Components</option>
              <option [ngValue]="'Product'">Product</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="" class="form-label">Category</label>
          <div class="input-group">
            <select formControlName="category" class="form-select" aria-label="Default select example">
              <option selected>Select Category</option>
              <ng-container *ngIf="(categories$ | async) as categories; else elseTemplate">
                <ng-container *ngIf="categories.length > 0; else elseTemplate1">
                  <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
                </ng-container>
                <ng-template #elseTemplate1>
                  <option value="0">No Category found.</option>
                </ng-template>

              </ng-container>
              <ng-template #elseTemplate>
                <option value="0">Loading...</option>
              </ng-template>

            </select>
          </div>
        </div>
        <div class="col-4">
          <label for="" class="form-label">Supplier(Optional)</label>
          <div class="input-group ">
            <select formControlName="supplier" class="form-select" aria-label="Default select example">
              <option selected>Select Supplier</option>
              <ng-container *ngIf="(suppliers$ | async) as suppliers; else elseTemplate">

                <ng-container *ngIf="suppliers.length > 0; else elseTemplate1">
                  <option *ngFor="let supplier of suppliers" [ngValue]="supplier.name">{{supplier.name}}</option>
                </ng-container>
                <ng-template #elseTemplate1>
                  <option value="0">No suppliers found.</option>
                </ng-template>

              </ng-container>
              <ng-template #elseTemplate>
                <option value="0">Loading...</option>
              </ng-template>
            </select>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-8">
          <label for="" class="form-label">Name *</label>
          <input type="text" formControlName="name" class="form-control" name="" id="" aria-describedby="nameHelpId"
            placeholder="">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Item Code(Automated)</label>
          <div class="input-group ">
            <input readonly type="text" [ngModel]="generateItemCode() " formControlName="itemCode" class="form-control"
              placeholder="" aria-label="" aria-describedby="button-addon2">

          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="" class="form-label">Description *</label>
          <input type="text" class="form-control" formControlName="description" name="" id=""
            aria-describedby="nameHelpId" placeholder="">
        </div>
      </div>

      <div formArrayName="variants" *ngIf="this.itemForm.controls.variants.value.length > 0">
        <tabset>
          <tab *ngFor="let variant of this.itemForm.controls.variants.value; let itemIndex= index; trackBy: trackByFn"
            [formGroupName]="itemIndex" [id]=" itemIndex.toString()" customClass="tabCustomClass">
            <ng-template class="glassify" tabHeading>
              <span class=" text-dark ">{{'Variant-' + (itemIndex + 1)}}</span>
            </ng-template>
            <div class="card glassify container  p-3  ">
              <div class="header d-flex flex-row justify-content-end mb-0">
                <button type="button" class="btn-close" (click)="removeVariant(itemIndex)" aria-label="Close"></button>
              </div>
              <div class="row mb-3">
                <div class="col-6">
                  <label for="" class="form-label">Barcode</label>
                  <input type="text" formControlName="barcode" class="form-control" name="" id=""
                    aria-describedby="nameHelpId" placeholder="">
                </div>
                <div class="col-6">
                  <label for="" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" name="" id="" aria-describedby="nameHelpId"
                    placeholder="">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-6">
                  <label for="" class="form-label">Unit Type</label>
                  <input type="text" formControlName="unitType" class="form-control" name="" id=""
                    aria-describedby="nameHelpId" placeholder="">
                </div>
                <div class="col-6">
                  <label for="" class="form-label">Unit Value</label>
                  <input type="text" formControlName="unitValue" class="form-control" name="" id=""
                    aria-describedby="nameHelpId" placeholder="">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4">
                  <label for="" class="form-label">Unit Cost</label>
                  <input type="number" pattern="^\d*(\.\d{0,2})?$" formControlName="unitCost" class="form-control" name="" id=""
                    aria-describedby="nameHelpId" placeholder="">
                </div>
                <div class="col-4">
                  <label for="" class="form-label">Unit Price</label>
                  <input pattern="^\d*(\.\d{0,2})?$" type="number" formControlName="unitPrice" class="form-control" name="" id=""
                    aria-describedby="nameHelpId" placeholder="">
                </div>
                <div class="col-4">
                  <label for="" class="form-label">Quantity (Optional) </label>
                  <input [readonly]="variant._id !== null" step="0.01" type="number" formControlName="quantity"
                    class="form-control" name="" id="" aria-describedby="nameHelpId" placeholder="">
                </div>
              </div>
            </div>
          </tab>
        </tabset>

      </div>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button [disabled]="isProcessing" type="button" class="btn " (click)="addNewVariant()">

    Add Variant</button>
  <button [disabled]="isProcessing" type="button" class="btn " (click)="save()">{{saveButtonText}}</button>
</div>
