/* You can add global styles to this file, and also import other style files */
*{
  color: rgb(241, 239, 239);
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: rgb(186, 19, 219);
    background: linear-gradient(193deg, rgba(186, 19, 219, 1) 0%, rgba(227, 200, 188, 1) 100%);
}

:root .glassify {
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

.glassify.curve {
    border-radius: 16px;
}

