/* You can add global styles to this file, and also import other style files */
*{
  color: rgb(241, 239, 239);
  touch-action: manipulation;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

:root .glassify {
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

:root .glassify.curve {
    border-radius: 16px;
}

:root button {
  color: white;
  border: 2px solid white;
}

:root button:hover {
  color: white;
  border: 2px solid rgb(203, 203, 203) !important;
}

:root input, select.form-select, textarea {
  background-color: transparent;
  color:white;
}



:root textarea {
  background-color: transparent;
  color: white;
}

:root .modal-container {
  color: black !important;
}

:root .modal .modal-content {
  color: white;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

:root ul.nav li.active a {
  color: red !important;
}
