<div class="modal-header">
  <h5 class="modal-title pull-left"><i class="bi bi-question-circle"></i> Help Information</h5>
</div>
<div class="modal-body">
  <div class="container-fluid">
  <table class="table border-0">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col" class="text-center">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><i class="bi bi-box-arrow-in-left "></i></th>
        <td class="text-center">Sign-Out Current Users</td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-list-ol"></i></th>
        <td class="text-center">Show POS Transaction List</td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-cash-coin"></i></th>
        <td class="text-center">Show Cash-in/Cash-out Modal</td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-percent"></i></th>
        <td class="text-center">Add Discount to current Transaction. Must have atleast one item
          to enable.
        </td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-cart-plus"></i></th>
        <td class="text-center">
          Creates a new Transaction. Current transaction will be
          cleared.
        </td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-upc-scan"></i></th>
        <td class="text-center">
          Search Item using a Barcode. Enable feature
          base on Company subscription.
        </td>
      </tr>
      <tr>
        <th scope="row"><i class="bi bi-gear"></i></th>
        <td class="text-center">
          Show POS Configuration like current Cash on Drawer and Sales Tax Configuration
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
