<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Email</h5>
    <button (click)="bsModalRef.hide()" type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm">
      <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input formControlName="username" type="email" class="form-control" name="" id="" aria-describedby="emailHelpId">

      </div>
    </form>
  </div>

  <div class="info container pe-3 ps-3">
    <strong>Who can see your Email</strong>
    <p><i class="bi bi-envelope"></i> Anyone can see this information within your company services</p>
  </div>
  <div class="modal-footer border-0">
    <button type="button" (click)="save()" class="btn btn-outline">Save changes</button>
  </div>
</div>
