<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
    <button (click)="bsModalRef.hide()" type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm">
      <div class="mb-3">
        <label for="" class="form-label">Current Password</label>
        <input formControlName="currentPassword" type="password" class="form-control" name="" id="1" aria-describedby="emailHelpId">
        <small *ngIf="f.currentPassword.dirty && f.currentPassword.errors && f.currentPassword.errors.required" class="text-white">Current Password is required</small>

      </div>
      <div class="mb-3">
        <label for="" class="form-label">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control" name="" id="2"
          aria-describedby="emailHelpId">
          <small *ngIf="f.newPassword.dirty && f.newPassword.errors && f.newPassword.errors.required"
            class="text-white">New Password is required</small>
              <small *ngIf="f.newPassword.dirty && f.newPassword.errors && f.newPassword.errors.minlength"
                class="text-white">Minimum length is 6</small>
      </div>
      <div class="mb-3" >
        <label for="" class="form-label">Confirm New Password</label>
        <input required formControlName="confirmNewPassword" type="password" class="form-control" name="" id="3" aria-describedby="emailHelpId"
        >
        <small *ngIf="f.confirmNewPassword.dirty && f.confirmNewPassword.errors && f.confirmNewPassword.errors.required" class="text-white">Confirming
          Password is required</small>
          <small *ngIf="f.confirmNewPassword.dirty && f.confirmNewPassword.errors && f.confirmNewPassword.errors.minlength"
            class="text-white">Minimum length is 6</small>
            <small *ngIf="f.confirmNewPassword.dirty && f.confirmNewPassword.errors && f.confirmNewPassword.errors.MustMatch"
              class="text-white">Confirmation password does not match</small>
      </div>
    </form>
  </div>

  <div class="info container pe-3 ps-3">
    <strong>Why change your password regularly</strong>
    <p><i class="bi bi-shield-exclamation"></i> Changing password can prevent a possible data intrusion and secures information data being processed within the company</p>
  </div>
  <div class="modal-footer border-0">
    <button [disabled]="changePasswordForm.invalid" type="button" (click)="save()" class="btn btn-outline">Save changes</button>
  </div>
</div>

